@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  width: 100%;
  position: absolute;
}

.bg-img {
  background-image: url("https://tarjeta-presentacion.vercel.app/img/banner.jpeg");
  background-size: cover;
  background-position: top;
}
